.pagination {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


  
.pagination li {
    display: inline-block;
    margin: 0 5px;
}
  
.pagination li.active span {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border: 1px solid red;
    text-decoration: none;
    border-radius: 5px;
}
  
.pagination li a:hover {
    background-color: red;
    color: #fff;
}
  
.pagination li:first-child a,
.pagination li:last-child a {
    margin: 0;
}
  