{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/paginacao.css' %}">
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<main>
<div id="wallpaper">
    <img class="cover-photo" src="{% static 'imagens/capa.png' %}" alt="">
</div>
   

<div class="profile-header">
    <div class="profile-info">
        <img class="profile-photo" src="{% static 'imagens/avatar.png' %}" alt="Foto do canal">
        <div class="profile-details">
            <h1 class="channel-name">Nome do Canal</h1>
            <p class="subscribers">1,234 inscritos * <span>5 Inscritos</span></p>
            <p class="subscribers">Descrição sobre o canal...</p>
            <input type="button" value="Adicionar Vídeos">
        </div>
    </div>
</div>

<h3>Início</h3> <h3>Vídeos</h3>
<hr>
    <section class="video_content grid">
    {% for video in thumb %}
    <div class="video_items">
        <a href="single-page.html">
          <img class="testeimg"src="{{ video.thumbnail.url }}" alt="{{ video.titulo }}">
        </a>
      <div class="details flex">
        <div class="heading">
          <p>{{ video.titulo }}</p>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; Primeira</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Anterior</a></li>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="active"><span>{{ num }}</span></li>
            {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        


        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Próxima &rsaquo;</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}

</main>
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>
    $(document).ready(function(){
        $('.carousel').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            dots: true,
            arrows: true,
        });
    });
</script>

{% endblock %}